<ion-view view-title="Publicação" ng-controller="EditionController as editionCtrl">
  <ion-content ng-init="editionCtrl.loadArticles();">
    <div class="bar bar-header bar-calm">
        <h1 class="title">{{editionCtrl.title}}</h1>
    </div>

    <div ng-repeat="article in editionCtrl.articles">
        <a href="#/article/{{article.title}}/{{article.articleId}}">
            <div class="list card">
                <div class="item item-avatar item-icon-left">
                    <i class="icon ion-document-text"></i>
                    <h2>{{article.title}}</h2>
                    <p>{{article.author}}</p>
                </div>

                <div class="card-cover">
                    <img class="full-image" src="{{article.image}}">
                </div>

                <div class="card-footer">
                    <p>
                        {{article.description}}
                    </p>
                    <p>
                        <a class="subdued">{{article.likes}} Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
            </div>
        </a>
    </div>

  </ion-content>
</ion-view>