 <ion-modal-view view-title="Login" ng-controller="LoginController as loginCtrl">
    <ion-content>
      <div class="bar bar-header bar-calm">
        <h1 class="title">Login</h1>
      </div>
      <form ng-submit="loginCtrl.doLogin()">
        <div class="list">
          <label class="item item-input">
            <!--<span class="input-label">Username</span>-->
            <input type="text" placeholder="Username" ng-model="loginCtrl.username">
          </label>
          <label class="item item-input">
            <!--<span class="input-label">Password</span>-->
            <input type="password" placeholder="Senha" ng-model="loginCtrl.password">
          </label>
        </div>

        <div style="text-align:center;">
          <button class="button-red button" type="submit">Entrar</button>
        </div>
      </form>
    </ion-content>
</ion-modal-view>
